<!DOCTYPE html>
<html th:replace="~{layout/base :: params(~{::title}, ~{::section}, ~{::link})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Product</title>
</head>
<body>
<section>
    <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
        <div class="sm:mx-auto sm:w-full sm:max-w-sm">
            <h2 class="mt-10 text-center text-2xl/9 font-bold tracking-tight text-gray-900">Please find the lowest price!</h2>
        </div>

        <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
            <form  action="/product/add" th:action="@{/product/add}" th:object="${productForm}" method="post" enctype="multipart/form-data" class="space-y-6">
                <div th:if="${#fields.hasGlobalErrors()}">
                    <p class="field-error" th:each="err : ${#fields.globalErrors()}"
                       th:text="${err}">전체 오류 메시지</p>
                </div>

                <div>
                    <label for="name" class="block text-sm/6 font-medium text-gray-900">Name</label>
                    <div class="mt-2">
                        <input id="name" type="text" th:field="*{name}" th:errorclass="field-error"
                               required autocomplete="name"
                               class="block w-full rounded-md px-3 py-1.5 border border-gray-300" />
                        <div class="field-error" th:errors="*{name}"></div>
                    </div>
                </div>

                <div>
                    <label for="url" class="block text-sm/6 font-medium text-gray-900">URL</label>
                    <div class="mt-2">
                        <input id="url" type="url" th:field="*{url}" th:errorclass="field-error"
                               required autocomplete="url"
                               class="block w-full rounded-md px-3 py-1.5 border border-gray-300" />
                        <div class="field-error" th:errors="*{url}"></div>
                    </div>
                </div>

                <div>
                    <label for="price" class="block text-sm/6 font-medium text-gray-900">Price</label>
                    <div class="mt-2">
                        <input id="price" type="number" th:field="*{price}" th:errorclass="field-error"
                               required autocomplete="price"
                               class="block w-full rounded-md px-3 py-1.5 border border-gray-300" />
                        <div class="field-error" th:errors="*{price}"></div>
                    </div>
                </div>

                <div>
                    <label for="description" class="block text-sm/6 font-medium text-gray-900">Description</label>
                    <div class="mt-2">
                        <textarea id="description" th:field="*{description}" th:errorclass="field-error"
                               required autocomplete="description"
                               class="block w-full rounded-md px-3 py-1.5 border border-gray-300 h-36"></textarea>
                        <div class="field-error" th:errors="*{description}"></div>
                    </div>
                </div>

                <div>
                    <label for="imageFiles" class="block text-sm/6 font-medium text-gray-900">Image</label>
                    <div class="mt-2">
                        <input id="imageFiles" multiple type="file" name="imageFiles" required>
                        <div class="field-error" th:errors="*{imageFiles}"></div>
                    </div>
                </div>

                <div class="flex items-center justify-between gap-2">
                    <a class="border border-gray-300 rounded-md w-full px-3 py-1 text-center" href="/" th:href="${referer} ?: '/'">Cancel</a>
                    <button type="submit" class="w-full text-center rounded-md bg-indigo-600 px-3 py-1.5 text-white">Add Product</button>
                </div>
            </form>
        </div>
    </div>
</section>
</body>
</html>