<!DOCTYPE html>
<html th:replace="~{layout/base :: params(~{::title}, ~{::section}, ~{::link}, ~{::script})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Please find the lowest price!</title>
    <script type="text/javascript" th:src="@{/js/product-view.js}"></script>
</head>
<body>
<section class="p-6">
    <div class="bg-gray-100">
        <div class="container mx-auto px-4 py-8">
            <div class="flex flex-wrap -mx-4">
                <!-- Product Images -->
                <div class="w-full md:w-1/2 px-4 mb-8">
                    <img th:if="${!product.productImages.isEmpty()}" th:alt="${product.name}"
                         th:src="@{/uploads/images/{filename}(filename=${product.productImages[0].storeName})}"
                         class="w-full h-auto rounded-lg shadow-md mb-4" id="mainImage">
                    <div class="flex gap-4 py-4 justify-center overflow-x-auto">
                        <img th:each="productImage: ${product.productImages}" th:alt="${productImage.uploadName}"
                             th:src="@{/uploads/images/{filename}(filename=${productImage.storeName})}"
                             class="w-20 h-20 sm:size-20 object-cover rounded-md cursor-pointer opacity-60 hover:opacity-100 transition duration-300"
                             onmouseover="changeImage(this.src)">
                    </div>
                </div>

                <!-- Product Details -->
                <div class="w-full md:w-1/2 px-4">
                    <div class="flex items-center">
                        <h2 class="text-3xl font-bold mb-2" th:text="${product.name}">Premium Wireless Headphones</h2>
                        <a th:href="${product.url}" class="text-3xl ml-1" target="_blank">
                            <span class="material-icons text-blue-500 hover:text-blue-600">open_in_new</span>
                        </a>
                    </div>
                    <p>Model No: <span class="text-gray-600" th:text="${product.modelNo}">WH1000XM4</span></p>
                    <p>Registrant: <span class="text-gray-600"  th:text="${product.user.name}">Registrant</span></p>
                    <p class="mb-4">Registration date: <span class="text-gray-600 text-sm" th:text="${#temporals.format(product.createdAt, 'yyyy-MM-dd HH:mm')}">2023-10-01 12:00</span></p>
                    <div class="mb-4">
                        <span class="text-2xl font-bold mr-2" th:text="|&bsol;${#numbers.formatInteger(product.price, 1, 'COMMA')}|">$349.99</span>
                    </div>

                    <p class="text-gray-700 mb-6" th:text="${product.description}">description</p>

                    <div>
                        <h3 class="text-lg font-semibold mb-2">offering lower prices</h3>
                        <ul class="bg-white shadow overflow-hidden sm:rounded-md mx-auto mt-2">
                            <li th:each="productOffer: ${product.productOffers}">
                                <form action="" th:action="@{/product/{id}/offer/choose/{offerId}(id=${product.id}, offerId=${productOffer.id})}" method="post">
                                    <div class="px-2 py-2 sm:px-6">
                                        <div class="flex items-center justify-between">
                                            <h3 class="text-lg leading-6 font-bold text-gray-900"
                                                th:text="|&bsol;${#numbers.formatInteger(productOffer.price, 1, 'COMMA')}|">Price</h3>
                                            <p class="mt-1 max-w-2xl text-sm text-gray-500">
                                                <a th:href="${productOffer.url}" target="_blank" th:text="${productOffer.url}">URL</a>
                                            </p>
                                        </div>
                                        <div class="flex items-center justify-between">
                                            <div class="text-sm font-medium flex">
                                                <div>Offerer:
                                                    <span class="text-gray-500" th:text="${productOffer.user.name}">Offerer</span> |
                                                    <span class="text-gray-600 text-sm" th:text="${#temporals.format(productOffer.createdAt, 'yyyy-MM-dd HH:mm')}">2023-10-01 12:00</span>
                                                </div>
                                                <div class="relative p-2 rounded-lg -mt-2">
                                                    <button class="openChat ml-2" th:attr="data-id=${productOffer.id}" type="button"><span class="material-icons">chat</span></button>
                                                    <div class="ml-5 px-1 py-1 min-w-5 rounded-full text-center text-white text-xs absolute -top-2 -end-1 translate-x-1/4 text-nowrap">
                                                        <div class="inline-flex items-center px-1.5 py-0.5 border-2 border-white rounded-full text-xs font-semibold leading-4 bg-red-400 text-white"
                                                        th:if="${productOffer.productOfferChats.size() > 0}" th:text="${productOffer.productOfferChats.size()}">
                                                            3
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <button type="submit" th:if="${product.isRegistrant() && productOffer.choose.toString() == 'N'}">
                                                <span class="material-icons text-blue-500 hover:text-blue-600">thumb_up</span>
                                            </button>
                                            <span th:if="${productOffer.choose.toString() == 'Y'}" class="material-icons text-green-600">done_all</span>
                                        </div>
                                    </div>
                                </form>
                            </li>
                        </ul>
                    </div>

                    <div class="mt-6">
                        <h3 class="text-lg font-semibold mb-2">New offer at a lower price</h3>
                        <form action="" th:action="@{/product/{id}/offer(id=${product.id})}" method="post">
                            <div>
                                <label for="url" class="block text-sm/6 font-medium text-gray-900">URL</label>
                                <div class="mt-2">
                                    <input id="url" type="url" name="url" required autocomplete="url"
                                           class="block w-full rounded-md px-3 py-1.5 border border-gray-300" />
                                </div>
                            </div>

                            <div>
                                <label for="price" class="block text-sm/6 font-medium text-gray-900">Price</label>
                                <div class="mt-2">
                                    <input id="price" type="number" name="price" required autocomplete="price"
                                           class="block w-full rounded-md px-3 py-1.5 border border-gray-300" />
                                </div>
                            </div>

                            <div class="flex items-center justify-between mt-4">
                                <button type="submit" class="w-full text-center rounded-md bg-indigo-600 px-3 py-1.5 text-white">Offer</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="chatModal" class="fixed z-10 inset-0 overflow-y-auto hidden">
        <div class="flex items-center justify-center min-h-screen">
            <div class="bg-white w-1/2 p-6 rounded shadow-md">
                <div class="flex justify-end mb-4">
                    <!-- Close Button -->
                    <button id="closeChat" class="text-gray-700 hover:text-red-500">
                        <span class="material-icons">close</span>
                    </button>
                </div>
                <div id="chatList" class="bg-white rounded-lg border p-2 my-4 mx-6">

                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>