<!DOCTYPE html>
<html th:replace="~{layout/base :: params(~{::title}, ~{::section}, ~{::link})}"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
</head>
<body>
<section>
    <div class="container m-3">
        <h3 th:text="|Hi ${user?.name}|">Home</h3>
        <div class="mt-4">
            <form th:action="@{/logout}" method="post">
                <button class="bg-blue-100 rounded-md p-1 px-2" type="submit">
                    로그아웃
                </button>
            </form>
        </div>
    </div>
</section>
</body>
</html>